body {
    background-color: #ffae42;
}

#navLinks {
    font-size: 19px;
    color: white;
}

.logo {
    height: 200px;
    width: 200px;
    background-color: dimgray;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
}

#glasses {
    height: 150px;
    width: 150px;
}

#searchBar {
    border-radius: 15px;
    height: 60px;
    text-align: center;
}

#div {
    z-index: -500;
}

#submit {
    background-color: lightseagreen;
    text-align: center;
    width: 150px;
    height: 60px;
    color: white;
}

#random {
    background-color: lightseagreen;
    text-align: center;
    width: 150px;
    height: 60px;
    color: white;
}

#title {
    font-family: 'Barrio', cursive;
    font-size: 80px;
    background-image: linear-gradient(to right, #fe6076, #fe6076, #667eea, #8E37D7);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #fe6076, #f5ce62, #667eea, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(118, 8, 168, 0.75);
}

    .switch {
    position: absolute;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -100px;
    background: #00bc9c;
    transition: all 0.2s ease;
    border-radius: 25px;
    margin-top: 2px;
  }
  .switch span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0px 0px -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
  }
  .switch span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
  }
  input[type=radio] {
    display: none;
  }
  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
  }
  label[for=yes] {
    position: absolute;
    left: 0px;
    height: 20px;
  }
  label[for=no] {
    position: absolute;
    right: 0px;
  }
  #no:checked ~ .switch {
    background: #eb4f37;
  }
  #no:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
  }
  #no:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
  }
  #yes:checked ~ .switch label[for=yes] {
    color: #fff;
  }
  #no:checked ~ .switch label[for=no] {
    color: #fff;
  }

.toggle-radio {
    margin-left: 90px;
}

#toggleDiv {
  display: flex;
  justify-content: center;
}

#popover {
  border-radius: 50px;
  height: 30px;
  margin-top: 10px;
  margin-left: 4%;
}


#options {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  padding: 0px;
}

#optionsButton {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
  width: 200px;
  border-radius: 50px;
}

#randomDiv {
  margin-left: 70px;
}

#mainRow {
  z-index: -60;
}

.card {
  display: flex;
  justify-content: center;
  float: left;
  margin: 7px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@media only screen and (max-width: 600px) {
  #popover {   
    margin-left: 27%;
  }
  
  #submit {
    margin-bottom: 10px;
  }

  #optionsButton {
    margin-bottom: 10px;
  }
}